# PostgreSQL Configuration
POSTGRES_DB=smarthome
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

# Application Ports
APP_PORT=8080
TEMPERATURE_API_PORT=8081

# SmartHome App Configuration
DATABASE_URL=postgres://postgres:postgres@postgres:5432/smarthome
TEMPERATURE_API_URL=http://temperature-api:8081